@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --cor-fundo: #F6E9B2;
    --cor-fonte: #0A6847;
    --cor-fonte-secundaria: #7ABA78;
    --fonte-principal: Montserrat sans-serif;
}

body{
    background-color: var(--cor-fundo);
    font-size: var(--fonte-principal);
    color: var(--cor-fonte);
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
    padding: 0 0 0 40px;
    border: 5px solid var(--cor-fonte);
    margin: 10px;
}

.hidden{
    display: none;
}

.titulo{
    font-size: 4em;
}

.subtitulo{
    font-size: 2.5em;
    color: var(--cor-fonte-secundaria);
}

.mensagem{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 2em;
    align-items: center;
}

.box{
    margin: 0px 5px;
    font-size: 3em;
    padding: 5px 10px;
    border: 3px solid var(--cor-fonte);
    display: inline-block;
    max-width: 10%;
}

.mensagem-final{
    font-size: 4em;
    font-family: var(--fonte-principal);
}

.BTjogarNovamente{
    align-self: center;
    background-color: var(--cor-fonte);
    font-family: var(--fonte-principal);
    color: var(--cor-fundo);
    max-width: 15vh;
    height: 7 vh;
    font-size: 1em;
}